@import "pure-min";
@import "grids-responsive-min";
@import "pricing";

.pure-g {
  letter-spacing: 0;
}

.pure-form select {
  padding: 0 0.6rem;
}
.pure-form select:not(:last-child) {
  margin-right: 16px;
}

.center {
  text-align: center;
}

.widthFull {
  width: 100%;
}

.sectionMargin {
  margin-top: 36px;
  margin-bottom: 36px;
}
